p.a {
    font: 30px helvetica , sans-serif;
}

p.b {
    font: times 40px/65px Georgia, serif;
}
div.c {
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid tomato;
}
body {
          background-color:darksalmon;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 75%;
    left: 49%;
    transform: translate(-50%, -50%);
}

p.dotted {border-style: dotted;}

img {
    float: right;
}

#rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;    
}
